.form-control.is-valid ~ .invalid-feedback {
    display: none;
}

#newPlace .custom-checkbox label {
    color: #444;
}

#placesContainer .card-text .badge {
    margin-left: 5px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

select{
    overflow:auto;
}


html {
    height: 100%;
}

body {
    height: 100%;
    padding-bottom:40px;
}


.footer {

    background-color: #f5f5f5;
}

